.Home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100%;
}
.gameplay, .vr{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vr{
    position: absolute;
    top: 7%;
    right: 3%;
}
.gameplay{
    position: absolute;
    bottom: 7%;
    left: 3%;
}
/* .twitchLink{
    padding: 2px 0px 4px;
    font-weight:normal;
    font-size:10px;
    text-decoration:underline;
} */
.embed-youtube{
    text-align:center;
    display: block
}
.youtube-player, .twitchLink, .twitch-player{
    padding: 2%;
    border: 0px;
    display: block;
    margin: 0px;
    width: 465px;
    height: 230px;
}
.vids{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin-top: 23%;
    padding-bottom: 1%;
}
.discord{
    width: 465px;
    height: 150px;
    position: absolute;
    bottom: 7%;
    right: 3%;
}